
/* .login-input -> implemented on login.css */

.login-form-number .lfn__number-group{
    width: 100%;
    display:flex;
}

.login-form-number .lfn__custom-select{
    width: 180px;
    margin-right: 10px;
}

.login-form-number__message {
    display: flex;
    justify-content: space-between;
}