nav{
    box-shadow: 1px 1px 8px 1px	rgb(200,200,200, .5);
}

.main-nav{
    display:flex;
    justify-content: space-between;
}

.App-logo-container{
    font-size: 2rem;
    color: var(--secondary-color);
    display: flex;
}

.App-logo {
  width: 100px;
  pointer-events: none;
}

.main-nav ul li{
    display: inline-block;
    font-weight: bolder;
    
}
.main-nav ul li a{
    font-size: 1.1rem;
    display: block;
    padding: 1.5rem;
    color: var(--gray);
}

.main-nav ul li a:hover{
    color:var(--warning-color);
}


@media screen and (max-width: 650px){
  .main-nav{
      flex-direction: column;
  }
}

@media screen and (max-width: 576px){
  .App-logo-container{
      align-items: center;
      justify-content: center;
  }
  .main-nav ul li{
    display: block;
    text-align: center;
  }
}