.home{
    margin: 50px auto;
    width: 100%;
    max-width: 1200px;
    padding: 1rem;
    line-height: 2;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
}

.home h1{
    color: var(--primary-color);
}

.home svg{
    color: var(--primary-color);
    margin: 0 1rem;
}

.home a {
    color: var(--secondary-light-color);
}

.home a:hover {
    color: var(--warning-color);
}