.login-form .form-input{
    border: 1px solid #ececec;
    padding: 1rem;
}

.login-form .form-input:hover, .login-form .form-input:focus{
    outline: 0 none;
    border: 1px solid #F0B90B;
    box-shadow: none;
}


.login-form label{
    padding: .5rem 0;
    display:block;
}

.login-form .btn{
    padding: 1rem 0;
    font-size: 1rem;
    color: #000;
    margin: 1rem 0;
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
    transition: .5s ease;
    transition-property: box-shadow;
}

.login-form .btn:hover{
    background-color: red;
}

.login-form .btn:focus{
    box-shadow: 1px 1px 1px 1px #ffcc33;
}

.login-form .form-group:nth-child(2){
    position: relative;
}

.login-form .eye-link{
    position: absolute;
    top:50px;
    right:20px;
    color:#ececec;
}


.login-form .eye-link:hover{
    color:#000;
}

.text-danger{
    color: #e63946;
    font-size: .75rem;
}
  
.text-success{
    color: #a8dadc;
    font-style: italic;
    font-size: .9rem;
}