
.login-form .form-group:nth-child(2){
    position: relative;
}

.login-form .eye-link{
    position: absolute;
    top:30px;
    right:15px;
    color:#ececec;
}


.login-form .eye-link:hover{
    color:#000;
}

.text-danger{
    color: #e63946;
    font-size: .75rem;
}
  
.text-success{
    color: #a8dadc;
    font-style: italic;
    font-size: .9rem;
}