/* //#F0B90B */
.login{
    width: 100%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login__container{
    width: 400px;
    padding: 2rem;
    box-shadow: 1px 1px 4px 1px rgba(0,0,0,.1);
}

.login__header{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.login__header h3{
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1rem;
    font-weight: 400;
}

.login__header p{
    font-size: .8rem;
    color: var(--gray);
}


.login__url{
    font-size: .8rem;
    width: fit-content;
    padding: .5rem 1.5rem;
    border: 1px solid #ececec;
    border-radius: 2rem;
    margin: 1rem 0;
    text-align: center;
}

.login__url span{
    color:#0ECB81;
}
.login__submenu{
    display: flex;
    border-bottom: 1px solid var(--secondary-color--50);
    margin-bottom: 1rem;
}

.login__submenu a{
    display:block;
    margin-right: 1rem;
    color: var(--secondary-color--30);
    padding-top:1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid transparent;
}

.login__submenu a.active{
    border-bottom: 2px solid var(--primary-color);
    font-weight: 500;
    
}

.login__links{
    display: flex;
    font-size: .8rem;
    justify-content: space-around;
}

.login__links a{
    color: var(--primary-color);
    margin-right: 5px;
}
.login__links a:nth-child(1){
    color:var(--secondary-color--30);
    text-decoration: underline;
    flex:1;
}

.login .login__clone{
    margin-top: 2rem;
}
.login .login__clone a{
    color: var(--primary-color)
}

/*******************GENERIC INPUT, TITLE AND BUTTON****************************/
.login-input{
    padding:.7rem!important;
    border:0;
    border: 1px solid var(--secondary-color--70);
    outline: none;
    width: 100%;
    border-radius: 4px;
}

.login-input:hover, .login-input:focus{
    border: 1px solid var(--primary-color);
    box-shadow: none;
    padding:.7rem!important;
}


.login-title{
    display: block;
    width: 100%;
    font-size: .8rem;
    color: var(--secondary-color--30);
    margin:20px 0 0 0;
}

.login-button{
    padding: 1rem 0;
    border:none;
    width: 100%;
    font-size: 1rem;
    color: #000;
    margin: 1rem 0;
    background-image: linear-gradient(to right, #ffb347 0%, #ffcc33  51%, #ffb347  100%);
    background-size: 200% 100%;
    background-repeat: repeat;
    transition:all .5s ease;
/*     transition-property: box-shadow, background-image; */
    cursor: pointer;
    outline: none;
}

.login-button:hover{
    background-repeat:repeat;
    background-position: 100%;
}

.login-button:focus{
    box-shadow: 1px 1px 1px 1px #ffcc33;
}

/**********************************************************/

