
ul{
   list-style: none;
}

a{
  text-decoration: none;
  color: #000;
}

.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.btn, .form-input{
    border-radius: .3rem;
    padding: .5rem 1rem;
    width: 100%;
}

.btn{
    background-color:#aaa;
    cursor: pointer;
    border: 0;
}
.btn:focus{
  outline: none;
} 

.btn.btn--secondary{
    background-color: #457b9d;
    color: white;
}
.btn.btn--secondary:hover{
  background-color:rgba(69, 123, 157, .5);
}

.btn.btn--primary{
  background-color: #e63946;
  color: #fff;
}



.btn.btn--primary:hover{
  background-color: rgba(230, 57, 70, .5);
}

/****REACT FORM ****/
/* 
.form-container{
  background-color: #1d3557;
  max-width: 400px;
  margin: 2rem auto;
  padding: 1rem;
  color: #f1faee;
  border-radius: .3rem;
  box-shadow: 1px 1px 1px #000;
}

.form-container h3{
  color:#a8dadc;
  font-weight: 500;
  font-size: 2rem;
  text-shadow: 1px 1px 1px #f1faee;
}

.form-group{
  margin: 1rem;
}

.text-danger{
  color: #e63946;
  font-size: .75rem;
}

.text-success{
  color: #a8dadc;
  font-style: italic;
  font-size: .9rem;
} */

/********* XXXXXX *********/