
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  /* #fba70b */
  --primary-color:#F0B90B;
  --primary-color--70:#f0bb0b75;
  ;
  /* #191a20 */
  --secondary-color: rgb(25, 26, 32);
  /* #888 */
  --secondary-color--30: rgb(136, 136, 136);
  --secondary-color--50: #C8C8C8;
  --secondary-color--70: #ececec;
  /* #007bff */
  --info-color: rgb(0, 123, 255);
  /* #f4813f */
  --warning-color: rgb(244, 129, 63);
  /* #f1556a */
  --danger-color: rgb(241, 85, 106);
  --white-color: rgb(255,255,255); 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
